@media only screen and (min-device-width: 600px){
    
}
body {
    background-color: rgb(232, 232, 232);
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}


/* centered columns styles */

.row-centered {
    text-align: center;
}

#nresults {
    padding-top: 1em;
    padding-left: 4px;
}

hr {
    border-color: #d0b783;
    color: #d0b783;
}



.icon-size {
    font-size: 87px;
}


