
input:focus {
    border:1px solid #b9d4e9;
    border-top-color:#b6d5ea;
    border-bottom-color:#b8d4ea;
    box-shadow:0 0 5px #b9d4e9;
    
        }
        
        li {
            text-align: left;
            
        }
        
        #pswd_info {
    
    padding:15px;
    background:white;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    display: none;
            
}
        #pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    color: black;
    font-weight:normal;
}
        
        #pswd_info::before {
    font-size:18px;
    line-height:18px;
    color:#ddd;
    display:block;
}
        
        .invalid {
    
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}