/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-ott-2016, 12.15.09
    Author     : RiccardoUni
*/

.panel .panel-default {
    border-color:#900c3f;
}
  .carousel, .carousel-img {
        height : 200px!important;
    }
    #qrCodeBig > img {
        height : 200px!important;
        width : 200px!important;
    }
    #qrCodeBig {
        text-align: center;
    }
    #qrCodeSmall {
        text-align: left;
    }

/* For devices 600px and larger: */    
@media only screen and (min-device-width: 600px) {
    .carousel, .carousel-img {
        height : 400px!important ;
    }
    
    #qrCodeBig > img {
        height : 400px!important;
        width : 400px!important;
        
    }
    #qrCodeSmall {
        text-align: right;
    }
} 