.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #eee;
}

.bartitle {
    color: #900c3f;
}
.bartitle > a{
     color: #900c3f;
}
.glyphicon-tag,.glyphicon-globe {
    color: #900c3f;
    margin-right: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #900c3f;
    margin: 1em 0;
    padding: 0;
}

.thumbnail {
    font-family: 'Lato', sans-serif;
    color: #333333;
    height: auto;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
}

.thumbnail:hover {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px 3px;
    transition: 0.3s;
}

.module {
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.overlay {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.module>header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    z-index: 2;
}

.module>header>h1 {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 black;
    font-size: 1.5em;
}

.val {
    color: white;
}

.thumb-footer {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}

.thumb-footer a {
    color: #900c3f;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-weight: 800;
}

.thumb-footer .dettagli {
    font-weight: 800;
}

.thumb-footer a:hover {
    color: rgba(144, 12, 63, 0.54);
    text-decoration: none;
}

.cuisine-labels {
    padding-bottom: 2rem;
   
}

.label-info {
    background-color: #581845;
    margin:2.5px;
    text-transform: capitalize;
    display: inline-block;
}

.filters {
    padding-top: 1rem;
}

.list-group {
    padding-top: 0.5rem;
}

.btn-tag {
    color: white;
    background-color: #581845;
    width: 100%;
    text-align: left;
}

.btn-tag:hover:enabled {
    /*your styles*/
    color: white;
}

.btn-tag:active:enabled {
    /*your styles*/
    color: white;
}

.btn-tag:hover {
    /*your styles*/
    color: white;
}

.btn-tag:active {
    /*your styles*/
    color: white;
}

.btn-tag.focus {
    color: white;
}

.btn-group {
    padding-left: 0px;
}
.checkspan {
    text-transform: capitalize;
    margin:0px;
    font-weight: normal;
}
